header div{
    
    button{
        
            border-radius: 50px;
        background-color: transparent !important;
        &:hover{
          
            background-color: transparent !important;

        
        
        }
        
    }
}
footer div{
    
    button{
        
            border-radius: 50px;
        background-color: $colorNegro !important;
        color: $colorBlanco;
        &:hover{
            
            background-color: $colorLila !important;

        
        
        }
        
    }
}

