$tipografiaPrincipal: nomal 24px/1.5 'open Sans', sans-serif;
$colorLila:rgb(221, 187, 215);
$colorAzul:rgb(23, 103, 109);
$colorCafe: rgb(165, 101, 42);
$colorNegro:black;
$colorBlanco: white;
$ColorDorado: rgb(194, 154, 21);
$colorWhatsApp: rgb(67,216,84);
$colorInstragram:rgb(221,42,123);
$colorFacebook: rgb(59.89,152);